/.cache
/.idea
/.design
/.vscode
/.vagrant
/bower_components
/node_modules
/vendor
/docker
/.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
docker-compose.yml
docker-readme.md
Makefile
composer.phar
.phpstorm.meta.php
.DS_Store
thumbs.db
.npm
atlassian-ide-plugin.xml
/resources/assets/js/_site-modules/all.js
/resources/assets/sass/_site-modules/all.scss
api-docs.json
/docker/storage/db/
